@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&family=Space+Mono:wght@400;700&display=swap');

:root {
  --font-primary: #252525;
  --font-secondary: #999999;
  --bg-primary: #fafafa;
  --bg-secondary: #ffffff;
  --bg-primary-rgb: rgb(250, 250, 250);
  --bg-secondary-rgb: rgb(255, 255, 255);
  --accent: #F5B111;
  --shadow: rgba(0, 0, 0, 0.05);
}

body {
  font-family: sans-serif;
  color: var(--font-primary);
  background: var(--bg-primary);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Space Mono', sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Space Mono', serif;
  font-weight: 400;
}
